<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/home']">
      <span>ZipKinUI</span>
    </a>
    <span class="example-spacer"></span>
    <span>Investigate system behavior</span>
    <span class="example-spacer"></span>
    <button mat-button *ngIf="loggedIn(); else login" (click)="logout()">
      <mat-icon>group</mat-icon>
      <span>LOGOUT</span>
    </button>

    <ng-template #login>
      <button mat-button (click)="loggin()">
        <mat-icon>group</mat-icon>
        <span>LOGIN</span>
      </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
