.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  color: white;
}
a:hover{
  color: #bc40ff;
}

.toolbar{
  width: 100%;
}

.container {
  position: fixed;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
}

